@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "inter-400";
		src: url("@/assets/font/Inter-Regular.ttf") format("truetype");
	}

	@font-face {
		font-family: "inter-500";
		src: url("@/assets/font/Inter-Medium.ttf") format("truetype");
	}

	@font-face {
		font-family: "inter-600";
		src: url("@/assets/font/Inter-SemiBold.ttf") format("truetype");
	}

	@font-face {
		font-family: "inter-700";
		src: url("@/assets/font/Inter-Bold.ttf") format("truetype");
	}

	@font-face {
		font-family: "inter-800";
		src: url("@/assets/font/Inter-ExtraBold.ttf") format("truetype");
	}
}

* {
	font-family: "inter-400";
}
